html, body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input, button {
    border: none;
}

.header {
    max-width: 468px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 150px;
}

.header__logo-sub {
    margin-left: 10px;
    margin-bottom: 25px;
    font-size: 0.6em;
}

.counter {
    max-width: 468px;
    margin: auto;
}

.counter__text {
    text-align: center;
    font-size: 160px;
}

.btns {
    max-width: 468px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.btns__btn {
    font-size: 0.8em;
    width: 150px;
    height: 50px;
    background-color: #ffdb4d;
    border-radius: 2px;
    cursor: pointer;
}